* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: auto;
}
p {
  color: #666;
}
body {
  background-color: hsl(30, 54%, 90%);
  line-height: 1.6;
  display: flex;
  min-height: 200vh;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.recipe-card {
  background: #fff;
  width: 90%;
  max-width: 800px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  margin-bottom: 50px;
  padding: 0 20px;
}
.image-container {
  width: 100%;
}

.recipe-image {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
}
.content {
  padding: 20px;
}
::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}
.title {
  font-size: 24px;
  font-size: 45px;
  color: #333;
  margin-bottom: 10px;
  font-family: "young serif";
  font-weight: normal;
  font-style: normal;
}
.description {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
  font-size: 16px;
}
.prep-box {
  background-color: hsl(330, 100%, 98%);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  line-height: 1.6;
}
h2 {
  color: hsl(332, 51%, 32%);
}
h3 {
  font-size: 20px;
  color: hsl(14, 45%, 36%);
  margin-bottom: 10px;
  border-top: 2px solid #e4dede;
  padding-bottom: 5px;
  padding-left: 15px;
  font-family: "young serif";
  font-weight: normal;
  font-style: normal;
}
.Instructions-list {
  list-style: decimal;
  padding: 0 20px;
  margin: 0;
}
.Instructions-list li {
  margin-bottom: 10px;
  font-size: 14px;
}
.Instructions-list li strong {
  margin-right: 4px;
  font-weight: bold;
}
ul,
ol {
  margin-left: 20px;
  margin-bottom: 20px;
}
ul li,
ol li {
  margin-bottom: 10px;
  font-size: 15px;
  color: #666;
}
/*nutrition style*/
.nutrition ul {
  list-style-type: none;
  padding: 0;
}
.nutrition ul li {
  margin-bottom: 5px;
}
.Nutritional-values {
  padding-left: 20px;
}
.Nutrition-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Nutrition-list li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}
.Nutrition-list li:last-child {
  border-bottom: none;
}
.Nutrition-list li span:first-child {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}
.Nutrition-list li span:last-child {
  flex: 0 0 300px;
  text-align: center;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}
/*footer*/
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 55%;
}
footer a {
  color: #00bcd4;
  text-decoration: underline;
}
footer a:hover {
  text-decoration: underline;
}
